.action-details {
    margin-top: 10px;
    line-height: 1.5;
}

.traits {
    font-style: italic;
    color: #666;
    margin-top: 10px;
}

.action-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    justify-self: center;
}