.rules-box {
    margin: 0 0 15px 15px;
    padding: 10px;
    border: 1px solid #8b4513;
    background: #f9f5e8;
    font-family: serif;
    max-width: 250px;
    align-self: center;
    display: grid;
}

.rules-box.wide {
    max-width: 450px;
}

.rules-box.wider {
    max-width: 650px;
}

.rules-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.rules-item-title {
    font-size: 18px;
    color: #8b4513
}

.rule-title {
    text-decoration: underline;
    font-size: 28px;
}

.rules-item-content {
    text-align: center;
    width: 100%;
}